{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>BeeSca</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- <link rel="icon" type="image/x-icon" href="/static/images/test.ico" /> -->
    <link rel="stylesheet" href={% static "../static/css/style.css" %}>
    <link rel="icon" type="image/x-icon" href="../static/images/First_Icon.png" />
    
    <script defer src={% static '/js/locations.js' %}></script>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li>
                <img src={% static "/images/First_Icon.png" %} style="width:100%">
            </li>
            <li>
                <a href="/" class="navbar_button">
                    <i class="fa fa-home w3-xxlarge"></i>
                    <p>HIVES</p>
                </a>
            </li>
            <li>
                <a href="./functionalCharts" class="navbar_button">
                    <i class="fa fa-user w3-xxlarge"></i>
                    <p>CHARTS</p>
                </a>
            </li>
            <li>
                <a href="./locations" class="navbar_button">
                    <i class="fa fa-eye w3-xxlarge"></i>
                    <p>LOCATIONS</p>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="map">
            
            <!--before proceeding go to the last change and edit the settings.py so that it connects to the sqlitedb and not mysqldb-->

            <!--<iframe id="googleMapsThings" src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7686.174953755277!2d15.888479974128408!3d47.070183089509804!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDfCsDA0JzAyLjQiTiAxNcKwNTMnMjQuMCJF!5e0!3m2!1sde!2sat!4v1677758884121!5m2!1sde!2sat" width="800" height="450" style="border:0px;" allowfullscreen="" loading="lazy" margin-top="30px"></iframe>-->
            <iframe id="googleMapsThings" src="" width="800" height="450" style="border:0px;" allowfullscreen="" loading="lazy" margin-top="30px"></iframe>
            <div class="hive_location_cycler">
                <button class="hive_button" type="button" onclick="hiveCounterDown()">Previous Hive</button>
                <span id="hive_name_label">hive name</span>
                <button class="hive_button" type="button" onclick="hiveCounterUp()">Next Hive</button>
            </div>
        </div>
    </main>

</body>
</html>