body {
    margin: 80px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
  }
  
  .mainChart {
    z-index: 999;
  }
  
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #d2d203;
  }
  
  header {
    background-color: #d2d203;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .homeNav, header li a {
    color: black;
    text-decoration: none;
  }
  
  header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    margin: 20px;
  }
  
  h1, p {
    text-align: center;
    height: 2em;
  }
  
  p {
    font-size: large;
  }
  